# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# NODE ENVIRONMENT
NODE_ENV="development"

# Better Auth
# https://better-auth.com/docs/installation
BETTER_AUTH_SECRET="" 
BETTER_AUTH_URL="" 

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL=""
# Prisma requires a direct, unpooled connection to alter the database schema (without `-pooler`):
DIRECT_URL=""

# Modal (Proxy Auth Tokens)
# https://modal.com/settings
MODAL_API_KEY=""
MODAL_API_SECRET=""
# Run `modal serve/deploy main.py` to obtain a web endpoint for SongGenServer.generate_track:
MODAL_API_URL=""

# Groq AI
# https://console.groq.com/keys 
GROQ_API_KEY=""

# Inngest
INNGEST_DEV="1" # For local development only
INNGEST_EVENT_KEY=""
INNGEST_SIGNING_KEY=""

# R2
R2_ACCOUNT_ID=""
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
R2_BUCKET_NAME=""
